<form method="post" action="{{ path('admin_etage_delete', {'id': etage.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet étage ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etage.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
